// --------------
// Colors
// --------------

:root {
    --color-white: #fff;
    --color-grey-light: #f7f6f3;
    --color-grey: #e8e7e4;
    --color-blue: #37abda;

    --color-primary: var(--color-blue);
}